h1 {
  font-size: 72px;
}

h2 {
  font-size: 36px;
}

.text-box {
  width: 960px;
  height: 350px;
  border: 2px solid black;
  margin: auto;
  text-align: left;
  padding: 10px;
}

.submit {
  margin: 15px;
  font-size: 20px;
  padding: 15px;
  background-color: #CAA4FF;
  display: inline-block;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 2px 2px 2px gray;
}
